.page-container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto;
}

.configuration {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
}

.headerImage {
    width: 6rem;
    height: 6rem;
}

.bio {
    text-align: center;
}

.sticky-home-button {
    z-index: 2;
    position: sticky;
    top: 10vh;
    left: 10vh;
}

.layout button {
    border-radius: 50%;
}

@media (max-width: 60rem) {
    .sticky-home-button {
        top: 3vh;
        left: 3vh;
    }
}